Repository Reapy13/applicative-stack-app: changes, and which GitLab CI jobs are due for each by the changed paths.
All: release-docker-images, asa-ng, asa-back

release-docker-images:
  stage: release-docker-images
  variables:
    DOCKERFILE_PATH: ${ASA_PROJECT_DIR}/common/docker-images/Dockerfile.quarkus-cli
    IMAGE_NAME: ${NEXUS_DOCKER_REPOSITORY_URL}/quarkus-cli
    IMAGE_VERSION: latest
  before_script:
  - cd common/docker-images
  - - .kaniko-build-and-publish
    - before_script
  script:
  ...

asa-ng:
  stage: trigger-child-pipelines
  trigger:
    include: asa-ng/.gitlab-ci.yml
    strategy: depend

asa-back:
  stage: trigger-child-pipelines
  trigger:
    include: asa-back/.gitlab-ci.yml
    strategy: depend

feat(#1) : Refactors pipeline CI
  .gitlab-ci.yml
  asa-back/.gitlab-ci.yml
  asa-ng/.gitlab-ci.yml
  common/cicd-functions/common.yml
  common/cicd-functions/helm.yml
  common/cicd-functions/kaniko.yml
  common/cicd-functions/sonarqube.yml
  common/docker-images/Dockerfile.quarkus-cli
Due: release-docker-images, asa-ng, asa-back

feat(#1) : Corrects pipeline
  .gitlab-ci.yml
Due: none

feat(#1) : Corrects pipeline
  asa-ng/.gitlab-ci.yml
Due: asa-ng

feat(#1) : Corrects pipeline
  .gitlab-ci.yml
  asa-ng/.gitlab-ci.yml
Due: asa-ng

feat(#1) : Corrects pipeline
  .gitlab-ci.yml
  asa-ng/package-lock.json
  sonar-project.properties
Due: asa-ng

feat(#1) : Corrects pipeline
  .gitlab-ci.yml
  asa-back/.gitlab-ci.yml
Due: asa-back

feat(#1) : Corrects pipeline
  common/docker-images/Dockerfile.quarkus-cli
Due: release-docker-images

WIP
  common/docker-images/Dockerfile.quarkus-cli
Due: release-docker-images

Create LICENSE
  LICENSE
Due: none

Adds asa-api
  asa-api/.gitignore
  asa-api/pom.xml
  asa-api/src/main/java/com/adn/asa/Application.java
  asa-api/src/main/java/com/adn/asa/controller/TaskController.java
  asa-api/src/main/java/com/adn/asa/controller/TeamController.java
  asa-api/src/main/java/com/adn/asa/controller/WorkerController.java
  asa-api/src/main/java/com/adn/asa/entity/Task.java
  asa-api/src/main/java/com/adn/asa/entity/Team.java
  asa-api/src/main/java/com/adn/asa/entity/Worker.java
  asa-api/src/main/java/com/adn/asa/repository/TaskRepository.java
  asa-api/src/main/java/com/adn/asa/repository/TeamRepository.java
  asa-api/src/main/java/com/adn/asa/repository/WorkerRepository.java
  asa-api/src/main/java/com/adn/asa/service/TaskService.java
  asa-api/src/main/java/com/adn/asa/service/TaskServiceImpl.java
  asa-api/src/main/java/com/adn/asa/service/TeamService.java
  asa-api/src/main/java/com/adn/asa/service/TeamServiceImpl.java
  asa-api/src/main/java/com/adn/asa/service/WorkerService.java
  asa-api/src/main/java/com/adn/asa/service/WorkerServiceImpl.java
  asa-api/src/main/resources/application.yaml
  asa-api/src/main/resources/db/liquibase/changelog/init.yaml
  asa-api/src/main/resources/db/liquibase/changelog/master.yaml
  asa-api/src/test/java/com/adn/asa/it/TaskIT.java
  asa-api/src/test/java/com/adn/asa/it/TeamIT.java
  asa-api/src/test/java/com/adn/asa/it/WorkerIT.java
  asa-api/src/test/java/com/adn/asa/it/utils/RestAssuredAbstractIT.java
  asa-api/src/test/resources/config/application.yaml
  asa-api/src/test/resources/db/liquibase/changelog/it/data/data.yaml
  asa-api/src/test/resources/db/liquibase/changelog/it/master-test.yaml
Due: none

Path conditions:
  release-docker-images: any of: common/docker-images/**/*
  asa-ng: any of: asa-ng/**/*
  asa-back: any of: asa-back/**/*
